<header>
  <article>
    <h1>
      {{text.title}}
    </h1>
    <p>
      {{text.paragraph}}
    </p>
  </article>
  <div class="img-container">
    <picture>
      <source media="(max-width: 767px)" srcset="../../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg">
      <source media="(min-width: 768px)" srcset="../../../assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg">
      <source media="(min-width: 1366px)" srcset="../../../assets/shared/desktop/bg-pattern-call-to-action.svg">
      <img src="../../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg" alt="circles" class="circles-img">
    </picture>
  </div>
</header>
