<footer>
  <article>
    <h3>
      Let’s talk about your project
    </h3>
    <p>
      Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow.
    </p>
  </article>
  <button class="btn btn-onDark">
    get in touch
  </button>
  <div class="img-container">
    <picture>
      <source media="(max-width: 767px)" srcset="../../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg">
      <source media="(min-width: 768px)" srcset="../../../assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg">
      <source media="(min-width: 1366px)" srcset="../../../assets/shared/desktop/bg-pattern-call-to-action.svg">
      <img src="../../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg" alt="circles" class="circles-img">
    </picture>
  </div>
</footer>
