<header>
  <article>
    <h2>
      Award-winning custom designs and digital branding solutions
    </h2>
    <p>
      With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.
    </p>
    <button class="btn btn-onDark">
      Learn More
    </button>
  </article>
  <div class="hero-img-container">
    <img src="../../../assets/home/desktop/image-hero-phone.png" alt="Phone">
  </div>
  <div class="circle-container">
    <img src="../../../assets/shared/desktop/bg-pattern-small-circle.svg" alt="circle" class="circle">
  </div>
</header>
<div style="padding-top: 100px;"></div>
<section class="view_projects_cards">
  <app-view-projects-card [card]="cards[0]" [largest]="true"></app-view-projects-card>
  <div class="small-cards">
    <app-view-projects-card [card]="cards[1]"></app-view-projects-card>
    <app-view-projects-card [card]="cards[2]"></app-view-projects-card>
  </div>
</section>
<section class="benefits_section">
  <ul>
    <li>
      <article>
        <div class="images-container">
          <img src="../../../assets/shared/desktop/bg-pattern-small-circle.svg" alt="circle" class="circle">
          <img src="../../../assets/home/desktop/illustration-passionate.svg" alt="Passionate" class="benefit_img">
        </div>
        <h5>
          PASSIONATE
        </h5>
        <p>
          Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.
        </p>
      </article>
    </li>
    <li>
      <article>
        <div class="images-container">
          <img src="../../../assets/shared/desktop/bg-pattern-small-circle.svg" alt="circle" class="circle">
          <img src="../../../assets/home/desktop/illustration-resourceful.svg" alt="resourceful" class="benefit_img">
        </div>
        <h5>
          RESOURCEFUL
        </h5>
        <p>
          Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.
        </p>
      </article>
    </li>
    <li>
      <article>
        <div class="images-container">
          <img src="../../../assets/shared/desktop/bg-pattern-small-circle.svg" alt="circle" class="circle">
          <img src="../../../assets/home/desktop/illustration-friendly.svg" alt="friendly" class="benefit_img">
        </div>
        <h5>
          FRIENDLY
        </h5>
        <p>
          We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.
        </p>
      </article>
    </li>
  </ul>
</section>
<app-footer-2></app-footer-2>
<app-footer-1></app-footer-1>
