@import "../../../styles/variables.scss";

header{
  background-color: $peach;
  height: 900px;
  position: relative;

  article{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    width: 327px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    z-index: 2;

    h2{
      font-size: 2rem;
      font-weight: 500;
      line-height: 36px;
      color: $white;
    }

    p{
      color: $white;
      font-size: .9375rem;
      font-weight: 400;
      line-height: 25px;
    }

    button{
      width: 152px;
      height: 56px;
    }
  }

  .hero-img-container{
    width: 100%;
    height: 550px;
    position: absolute;
    bottom: 0;
    z-index: 1;

    img{
      width: 100%;
      height: 100%;
      object-fit: none;
      object-position: top;
      pointer-events: none;
    }
  }

  .circle-container {
    position: absolute;
    width: 360px;
    height: 700px;
    top: 130px;
    right: 0;

    .circle{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      pointer-events: none;
    }
  }
}

.left_leaf{
  display: none;
}

.view_projects_cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 327px;
  margin: 0 auto;

  .small-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

.benefits_section{
  display: flex;
  justify-content: center;
  margin-top: 110px;

  .right_leaf{
    display: none;
  }

  ul{
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;

    li{
      article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;

        .images-container{
          position: relative;
          width: 202px;
          height: 202px;

          .circle{
            width: 100%;
          }

          .benefit_img{
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        .text{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          h5{
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 26px;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $dark-grey;
          }

          p{
            font-size: 1rem;
            font-weight: 400;
            line-height: 26px;
            color: $dark-grey;
          }
        }
      }
    }
  }
}

.footers_container{
  .footer2-container{
    transform: translateY(50%);
  }
}


@media(min-width: 768px){

  header{
    width: 689px;
    height: 880px;
    margin: 0 auto;
    border-radius: 15px;
    z-index: 2;

    article{
      top: 10%;
      width: auto;
      gap: 35px;

      h2{
        width: 573px;
        font-size: 3rem;
        line-height: 48px;
      }

      p{
        width: 445px;
        font-size: 1rem;
        line-height: 26px;
      }
    }

    .hero-img-container{
      height: 560px;
    }

    .circle-container {
      width: 550px;
      height: 720px;
      top: 120px;
    }

  }

  .view_projects_cards{
    width: 689px;
  }

  .benefits_section{
    margin-top: 130px;
    position: relative;

    ul{
      width: 690px;
      align-items: center;
      gap: 40px;
      z-index: 1;

      li{
        article{
          flex-direction: row;
          gap: 47px;
          text-align: start;

          .text{
            align-items: flex-start;
            gap: 20px;
            width: 440px;
          }
        }
      }
    }
  }

  .footers_container{
    .footer2-container{
      transform: translateY(30%);
    }
  }
}


@media(min-width: 1366px){

  header{
    width: 1111px;
    height: 700px;
    flex-direction: row;

    article{
      top: 25%;
      left: 8%;
      transform: translateX(0);
      align-items: flex-start;
      text-align: start;
    }

    .hero-img-container{
      height: 700px;
      bottom: 0;
      img{
        object-position: right top;
      }
    }

    .circle-container {
      width: 650px;
      height: 700px;
      top: 0;
    }
  }

  .left_leaf{
    display: block;
    position: absolute;
    top: 420px;
    left: 0;
  }

  .view_projects_cards{
    flex-direction: row;
    width: 1111px;
  }

  .benefits_section{
    margin-top: 150px;
    margin-bottom: 70px;

    .right_leaf{
      display: block;
      position: absolute;
      top: 100px;
      right: 0;
      rotate: 180deg;
    }

    ul{
      width: 1111px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      li{
        article{
          flex-direction: column;
          text-align: center;

          .text{
            align-items: center;
            gap: 30px;
            width: 350px;
          }
        }
      }
    }
  }

  .footers_container{
    .footer2-container{
      transform: translateY(25%);
    }
  }
}
