@import "../../../styles/variables.scss";

header{
  width: 100%;
  display: flex;
  flex-direction: column;

  picture{
    img{
      width: 100%;
      height: 320px;
      display: block;
      object-fit: cover;
    }
  }

  .article-container{
    width: 100%;
    height: 395px;
    background-color: $peach;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    article{
      width: 327px;
      text-align: center;
      color: $white;

      h1{
        font-size: 2rem;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 30px;
      }

      p{
        font-size: .9375rem;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

@media(min-width: 768px){

  header{
    width: 689px;
    margin: 0 auto;

    picture{
      img{
        border-radius: 15px 15px 0 0;
      }
    }

    .article-container{
      height: 312px;
      border-radius: 0 0 15px 15px;

      article{
        width: 573px;
        z-index: 1;

        h1{
          font-size: 3rem;
          line-height: 48px;
          margin-bottom: 40px;
        }

        p{
          font-size: 1rem;
          line-height: 26px;
        }
      }
    }
  }
}
